[user]
	name = shota-tsuji
	email = shotatuzi@gmail.com
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /home/shota/.gitignore_global
[alias]
	st = status
	cm = commit
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset%cn %Cred%d %Creset%s'
	# short alias for "graph" above 
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Creset%cn %Cred%d %Creset%s'
	ls = !git ls-files -t|perl -pe 's/\\/.*/\\//'|uniq -c
	la = ls-files -cdmokt
	ll = !git ls-files -cdmokt|perl -pe 's/\\/.*/\\//'|grep -v '/'
    s = status -s
    ch = checkout
    switch-pr = !gh pr list | awk '{print $5}' | peco | xargs git switch
    swpr = switch-pr
    create-pr = !gh pr create --body-file .github/pull_request_template.md
    open-pr = !gh pr view --web
[diff]
	tool = vimdiff
	colorMoved = default
[difftool]
	prompt = false

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    navigate = true
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[merge]
    conflictstyle = diff3
[pull]
	rebase = false
